.footer {
  background:
    radial-gradient(circle at right, rgba(200, 0, 255, 0.6), rgba(0, 0, 0, 0.95)),
    #000;
  color: white;
  padding: 80px 80px 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-top h3 {
  font-size: 28px;
}

.footer-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.footer-links li {
  cursor: pointer;
  opacity: 0.9;
}

.footer-icons span {
  background: white;
  color: black;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}


@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 30px;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
