.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 28px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-icon {
  font-size: 26px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 48px;
  font-size: 15px;
  opacity: 0.9;
}

.connect-btn {
  background: white;
  color: black;
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    position: relative;
  }
}
