@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: white;
  overflow-x: hidden;
}

h1, h2, h3 {
  letter-spacing: -0.5px;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
